.edit-form-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 600px;
    max-width: 800px;
    min-height: 400px;
    max-height: calc(100vh - 2rem);
    gap: 10px;
    background-color: lightgoldenrodyellow;
    padding: 25px 25px;
}