.recipe-section {    
    border-top: 1px solid black;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.recipe-gallery {
    display: flex;
    gap: 20px;
}
