.header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3e5f5c ;
    color: #F4F9F4;
}

.nav {
    min-width: 300px;
    display: flex;
    justify-content: space-evenly;
}