.header {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F1F3F5;
}

.nav {
    min-width: 300px;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: 'Raleway', sans-serif
}

.nav button:hover{
    color: #AC4007;
}

.logo{
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-logo{
    height: 60px;
}