.new-recipe-display {
    display: flex;
    justify-content: center;
    min-width: 800px;
    max-width: 1200px;
    min-height: 400px;
    gap: 5px;
    margin: 50px 0px;
    background-color: #f1f3f5;
    padding: 25px 25px;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
}

.form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    min-height: inherit;
    min-width: 400px;
    gap: 25px;
    padding: 10px;
    padding-left: 20px;
}

.double-form{
    min-width: inherit;
    display: flex;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.can-delete{
    display: flex;
    gap: 10px;
    align-items: center;
}

input {
    border: 2px solid black;
    width: 90%;
    height: 18px;
    border-radius: 5px;
    padding-left: 5px;
    font-family: 'Fira Sans Condensed', sans-serif
}

input:focus{
    outline: none;
    background-color: #0B0E11;
    color: white;
}

.form-submit {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px 10px 10px 0px;
}

.long{
    width: 95%;
}

.short{
    width: 15%;
}

.add-button-div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.center-box{
    width: 1px;
    display: flex;
    align-items: center;
}

.center-line{
    width: inherit;
    height: 95%;
    background-color: black;
}

h4{
    font-weight: bold;
    font-size: 1.5rem;
}

label{
    font-weight: bold;
    font-size: 1.1rem;
}

.form-field-delete{
    width: 25px;
    height: 20px;
    border-radius: 5px;
    background-color: #0B0E11;
    color: white;
}

.copy-recipe-buttons{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}


.copy-submit-btn{
    background-color: #0B0E11;
    color: white;
    width: 110px;
    height: 30px;
    border-radius: 5px;
    margin-right: 5px;
}

.spicy-button{
    margin-top: 50px;
    background-color: #AC4007;
    width: 150px;
    height: 30px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.spicy-button:hover{
    transform: scale(1.1, 1.1);
}